* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 103%;
  text-rendering: optimizeLegibility;
}

p {
  margin-top: 10px;
}

hr {
  height: 2px;
  background-color: #333;
}

.main-title {
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
  text-transform: uppercase;
  color: #333;
}

.factions-selector {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 90%;
  padding: 10px;
  border: 1px solid #333;
  /* background-color: #3266cd; */
  /* background-color: #006da4; */
  background-color: #006699;
  text-align: center;
  /* box-shadow: 0px 0px 5px #333; */
  margin-bottom: 10px;
  /* text-transform: uppercase; */
}

#factions-addendum {
  /* display: flex; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
  display: none;
}
#factions-addendum select {
  padding: 5px 0 5px 7px;
  text-align: left;
  font-size: 90%;
  border: 1px solid #333;
  border-radius: 5px;
  color: #fff;
  /* background-color: #60c; */
  width: 100%;
}
#factions-addendum #chaos-daemons-allegiance {
  /* background-color: #60c; */
  background-color: #667070;
}
#factions-addendum #orks-addendum-select {
  /* background-color: #416928; */
  background-color: #080;
}
#factions-addendum #death-guard-forces {
  background-color: #808547;
}
#factions-addendum #space-marines-check {
  padding: 5px;
  margin-left: 10px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 85%;
  /* display: none; */
}
#factions-addendum #space-marines-check input[type='checkbox'] {
  display: none;
}

#message {
  width: 85%;
  padding: 20px;
  margin: 20px auto;
  background-color: #ffd;
  font-family: Verdana;
  text-align: center;
  border: 2px solid #ff8080;
  border-radius: 10px;
}

.to-title {
  /* padding: 0 11px 5px 14px; */
  padding: 3px 12px 7px 15px;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
  border: 2px solid #333;
  position: fixed;
  top: 350px;
  right: -2px;
  color: #333;
  font-size: 180%;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.75;
  /* z-index: 100; */
}
.to-title::after {
  /* content: ' \2191'; */
  content: ' \21D1';
}

.container {
  width: 80%;
  margin: 0 auto;
  /* background-color: #ddd; */
  background-color: #dadbd7;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}
h1 a {
  color: #333;
}
h1 a:visited {
  color: #333;
}

li {
  list-style: none;
}

#game-phases {
  display: flex;
  flex-direction: column;
  /* background-color: #1ac6ff; */
}
#game-phases input[type='radio'] {
  /* visibility: hidden; */
  display: none;
}
#game-phases label {
  /* position: relative; */
  /* background-color: #1ac6ff; */
  /* background-color: #33ccff; */
  background-color: #6a7575;
  background-color: #fff;
  /* color: #fff; */
  color: #333;
  padding: 10px;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid #333;
  cursor: pointer;
}

.show-all-stratagems {
  padding: 10px;
  margin: 10px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 90%;
  border: 2px solid #333;
  border-radius: 20px;
  /* background-color: #4675d2; */
  /* background-color: #006da4; */
  background-color: #006699;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.show-all-stratagems:active {
  background-color: #3266cd;
}

/* Color tips */
#color-tip {
  /* display: none; */
  background-color: #fff;
  padding: 5px 10px 0px 10px;
  border: 2px solid #333;
  /* border-radius: 5px; */
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  font-size: 85%;
}
#color-tip div {
  margin-bottom: 5px;
}
#color-tip i {
  width: 40px;
  /* border: 1px dotted red; */
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.clr-grey {
  background-color: #667070;
}
.clr-green {
  background-color: #2e912e;
}
.clr-darkcyan {
  background-color: #248f8f;
}
.clr-red {
  background-color: #960000;
}
.clr-orange {
  background-color: #cf6300;
}
/* 
clr-grey"></
clr-green"><
clr-darkcyan
clr-red"></i
clr-orange">
*/

/* #game-phases .check-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 10%;
  background-color: tomato;
} */
/* #game-phases input[type='radio']:checked ~ span {
  background-color: #0099cc;
} */

.stratagems-block__change-display {
  /* display: flex; */
  display: block;
}

.stratagems-block {
  display: none;
}

.faction-title {
  margin: 10px 0;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  color: #333;
}

/* -- 8th-ed -- */
h3.stratagem-header-8th-ed {
  margin: 5px 0 0 78px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
}
.cps {
  background-color: #333;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: 5px;
  margin: 0 5px 0 -20px;
  font-size: 90%;
  font-weight: bold;
  /* display: inline-block; */
  display: none;
}
.before-battle-8th-ed, .command-phase-8th-ed, .movement-phase-8th-ed, .psychic-phase-8th-ed,
.shooting-phase-8th-ed, .charge-phase-8th-ed, .overwatch-8th-ed, .fight-phase-8th-ed,
.opponent-phase-8th-ed, .any-phase-8th-ed, .morale-phase-8th-ed, .shared-phase-8th-ed {
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
}
/* 1 Before battle */
.before-battle-8th-ed {
  /* background: linear-gradient(-45deg, transparent 14px, #6a7575 0); */
  background: linear-gradient(-45deg, transparent 14px, #667070 0);
}
/* 2 Player phase */
.command-phase-8th-ed, .movement-phase-8th-ed, .psychic-phase-8th-ed,
.shooting-phase-8th-ed, .charge-phase-8th-ed, .overwatch-8th-ed {
  background: linear-gradient(-45deg, transparent 14px, #2e912e 0);
}
/* 3 Opponent phase */
/* .opponent-psychic-phase, .opponent-shooting-phase, .opponent-fight-phase { */
.opponent-phase-8th-ed {
  /* background: linear-gradient(-45deg, transparent 14px, #b30000 0); */
  /* background: linear-gradient(-45deg, transparent 14px, #ab1e1f 0); */
  background: linear-gradient(-45deg, transparent 14px, #960000 0);
}
/* 4 Shared phase */
.fight-phase-8th-ed, .morale-phase-8th-ed {
  background: linear-gradient(-45deg, transparent 14px, #248f8f 0);
}
/* 5 Any phase */
.any-phase-8th-ed {
  /* background: linear-gradient(-45deg, transparent 14px, #d26700 0); */
  background: linear-gradient(-45deg, transparent 14px, #cf6300 0);
}

/* -- 9th-ed -- */
.stratagems-block__game-phase-9th-ed {
  background: linear-gradient(-45deg, transparent 14px, #fff 0);
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.stratagems-block__game-phase-9th-ed h3 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  /* padding: 1px 12px 1px 5px; */
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.before-battle-stratagem-header-9th-ed {
  /* background-color: #6c7878; */
  background-color: #667070;
}
.player-turn-stratagem-header-9th-ed {
  /* background: linear-gradient(-45deg, transparent 14px, #2e912e 0); */
  background-color: #2e912e;
}
.opponent-turn-stratagem-header-9th-ed {
  background-color: #960000;
}
.shared-phase-header-9th-ed {
  background-color: #248f8f;
}
.any-turn-stratagem-header-9th-ed {
  background-color: #cf6300;
}
.stratagems-block__game-phase-9th-ed .fluff, .stratagems-block__game-phase-9th-ed .description {
  padding: 0 10px;
}
.stratagems-block__game-phase-9th-ed ul {
  padding-left: 15px;
}
.stratagems-block__game-phase-9th-ed li {
  list-style: initial;
}

.stratagems-block__show-when-faction-unselected {
  position: relative;
}

.cp-cost {
  position: absolute;
  left: -10px;
  background-color: #333;
  padding: 5px;
  border: 2px solid #eee;
  border-radius: 5px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-stretch: narrower;
  letter-spacing: 1px;
  /* display: none; */
}

.expansion {
  /* font-family: 'Times New Roman', Times, serif; */
  font-weight: normal;
}

.fluff {
  margin: 10px 0;
  font-style: italic;
  text-align: justify;
  font-size: 85%;
}

.fluff-faction {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.fluff .fluff-faction {
  font-size: 116%;
}

.description {
  line-height: 120%;
  /* text-indent: 20px; */
}

.description-turn-phase {
  /* background-color: #e6b800; */
  /* border-bottom: 1px solid #ffffb3; */
  text-decoration: underline;
  font-weight: bold;
  /* font-family: Tahoma, sans-serif; */
}

.description-unit-type {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.description-faction-ability {
  text-transform: uppercase;
  text-decoration: underline;
}

.description-characteristic {
  font-weight: bold;
  font-style: italic;
}

.description-battle-type {
  text-decoration: underline;
}

.description-other {
  text-decoration: underline double;
}

/* description table styling */
.description table {
  margin-top: 10px;
}
.description table th:nth-child(2) {
  text-align: justify;
  padding-left: 10px;
}
.description table th:first-child {
  padding-left: 10px;
}
.description table td {
  /* text-align: justify; */
  padding: 5px 0 5px 10px;
}
.description table td:first-child, .description table th:first-child {
  text-align: center;
  padding-right: 10px;
  vertical-align: top;
}

.faction-uniq-items {
  font-style: italic;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .container {
    width: 95%;
    padding: 10px;
  }
}